.products {
  &__category-box {
    position: relative;
    background-color: #fff;
    width: 100%;
    padding: 2rem 1rem;
    padding-bottom: 5rem;
    box-shadow: 0 0 12px 7px #3333331c;
  }

  &__category-product-img {
    width: 100%;
  }

  &__category-heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__category-link {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-decoration: none;
    color: #007185;
    font-size: 1.3rem;
  }
}
