.slider {
  position: relative;
  overflow: hidden;

  &__screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__navigator {
    position: absolute;
    top: 17vh;
    font-size: 4rem;
  }

  &__navigator--left {
    left: 2rem;
  }

  &__navigator--right {
    right: 2rem;
  }
}
