@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800;900&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
}
